<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.senninha.db.mapper.StationDao" >

    <select id="selectAll" resultType="Station"  >
        SELECT
        *
        FROM station
    </select>

    <select id="selectOne" parameterType="int" resultType="Station" >
        SELECT * FROM station
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Station" keyProperty="id">
        INSERT INTO station (name,location,station_code)
        VALUES (#{name}, #{location}, #{stationCode})
    </insert>

    <update id="update" parameterType="Station" >
        UPDATE
        station
        SET
        name = #{name},
        location = #{location},
        station_code = #{stationCode}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="int" >
        DELETE FROM
        station
        WHERE
        id =#{id}
    </delete>

</mapper>